$icons-sprite-dimensions: true;
$social: "twit", "facebook", "rss", "facebook_like", "plus_like";
$color_wrapper_text: #202021;
$color_header_bg: #fff;
$color_nav_top_link: #cf0000;
$color_nav_top_link_border: $color_wrapper_text;
$color_search_border: #bababa;
$color_search_btn_border: $color_wrapper_text;
$color_nav_main_link: $color_header_bg;
$color_nav_main_link_hover: $color_nav_top_link;
$color_main_bg: $color_header_bg;
$color_main_header_wrap_bg: $color_wrapper_text;
$color_breaking_news_slider_text: $color_header_bg;
$color_breaking_news_slider_bg: #000;
$color_breaking_news_lable_text: $color_header_bg;
$color_breaking_news_lable_bg: $color_nav_top_link;
$color_around_title_border: $color_nav_top_link;
$color_more_plus_text: $color_header_bg;
$color_more_plus_bg: $color_nav_top_link;
$color_read_more_text: $color_nav_top_link;
$color_tech_text_title: $color_breaking_news_slider_bg;
$color_author_text: $color_nav_top_link;
$color_comments_text: $color_nav_top_link;
$color_comments_border: #767676;
$color_editorial_content_text: $color_nav_top_link;
$color_play_list_bg: #e4e4e4;
$color_play_text_title: $color_wrapper_text;
$color_play_text_title_hover: $color_nav_top_link;
$color_newsletter_wrap_bg: $color_play_list_bg;
$color_input_name_border: $color_search_border;
$color_input_newsletter_go_text: $color_header_bg;
$color_input_newsletter_go_bg: $color_nav_top_link;
$color_newsletter_text_bottom: $color_nav_top_link;
$color_popular_title_text: $color_nav_top_link;
$color_popular_title_span_text: $color_wrapper_text;
$color_popular_content_text_title: $color_wrapper_text;
$color_footer_bg: $color_header_bg;
$color_nav_footer_link: #020305;
$color_nav_top_link_border: #6c6c6d;
$color_copyright: $color_nav_footer_link;
$color_nav_main_list: $color_header_bg;